<!DOCTYPE html>
<html>
<head>
  <title>Island</title>
  <%= include_stylesheets :web, :media => 'screen' %>
  <%= include_javascripts :web, :web_templates %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="wrapper">
  <div id="header">
  
    hutch!

  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  <div id="footer">questions and comments to @<a href="http://twitter.com/captainbenis/">captainbenis</a></div>

</div>
</body>
</html>
